<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<!-- VO -->
		<typeAlias alias="EmployeeVO" type="com.attmng.domain.EmployeeVO" />
		<typeAlias alias="AttendanceVO" type="com.attmng.domain.AttendanceVO" />
		<typeAlias alias="JoinVO" type="com.attmng.domain.JoinVO" />
		<typeAlias alias="ExcelToSaveAttendanceGetVo" type="com.attmng.domain.ExcelToSaveAttendanceGetVo" />
		<typeAlias alias="VacationManagementVO"        type="com.attmng.domain.VacationManagementVO"       />

		<!-- DTO -->		
		<typeAlias alias="login" type="com.attmng.dto.EmployeeDTO" />
		<typeAlias alias="memberInfo" type="com.attmng.dto.MemberInformationDTO" />
		<typeAlias alias="memberAttendanceDTO" type="com.attmng.dto.MemberAttendanceDTO" />
		<typeAlias alias="AttendanceDTO" type="com.attmng.dto.AttendanceDTO" />
		<typeAlias alias="MemberPasswordChangeDTO" type="com.attmng.dto.MemberPasswordChangeDTO" />
		<typeAlias alias="EmployeeInfoDTO" type="com.attmng.dto.EmployeeInfoDTO" />
		<typeAlias alias="ExcelToSaveAttendanceGetDTO" type="com.attmng.dto.ExcelToSaveAttendanceGetDTO" />
	</typeAliases>

</configuration>
