<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.attmng.atms.mappers.memberPasswordChange">
   
  <select id="User_read" resultType="MemberPasswordChangeDTO">
      SELECT * FROM t_employee
      WHERE id = #{id}
   </select>
   
   <update id="G05_Update" parameterType="MemberPasswordChangeDTO">

		update t_employee

		set password = #{password}
		
		where id = #{id}
	</update>
   
</mapper>